html, body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin: 30px;
  letter-spacing: 0.5px;
  text-align: left;
  line-height: 1.4;
  background-color: #F5F5F5;
  color: #575656;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: 3.375rem; /* 54px */
  margin-bottom: 3.75rem; 
}

h2 {
  font-size: 1.875rem; /* 30px */
  margin-bottom: 1.25rem;
}

h3 {
  font-size: 1.5625rem; /* 25px */
  margin-bottom: .9375rem;
}

p {
  margin-bottom: 1.25rem;
  font-size: 1.125rem;
}

p strong {
  font-weight: 600;
}

a {
  font-size: 1.125rem;
  color: hsl(0, 1%, 34%);
  text-decoration: underline;
  font-weight: 600;
  transition: all 500ms ease;
}

a:hover {
  text-decoration: none;
  color: hsl(0, 1%, 14%);
}

img {
  display: block;
  border-radius: 15px;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  width: 30%;
  height: auto;
}

li {
  margin-bottom: .3125rem;
}

li a {
  font-weight: 400;
}